{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <link
      href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <!-- Styles -->
    <link href="{% static '/css/gestion.css' %}" rel="stylesheet" />
    <title>Error 404</title>
  </head>
  <body>
    <section class="page-section clearfix">
      <div class="container">
          <div class="form-contend">
            <h1>Error 404</h1>
            <h2>Petici&oacute;n no Encontrada</h2>
            <a href="{% url 'home' %}" class="link-dark"><h3>Seguir Navegando</h3></a>
        </div>
      </div>
    </section>

    <!-- Bootstrap -->
    <script src="{% static '/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  </body>
</html>