{% extends "basecontain.html" %} 

{% load static %}

{% block title %} Home {% endblock %} 

{% block navbar %} 
<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a
          class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none"
          href=""
          >Aprendizaje Creativo</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="{% url 'home' %}"
                >Inicio</a>
            </li>
            <li class="nav-item active px-lg-4">
              <a
                class="nav-link text-uppercase text-expanded" href="{% url 'listar_variable' %}"
                >M&eacute;trica</a>
            </li>
            <li class="nav-item active px-lg-4">
              <a
                class="nav-link text-uppercase text-expanded" href="{% url 'polllist' %}"
                >Encuesta</a>
            </li>
            
          </ul>
          <div class="dropdown-menu-right">
              <a class="link" href="{% url 'logout' %}">Cerrar Sesi&oacute;n</a>
            </div>
        </div>
      </div>
    </nav>
{% endblock %}

{% block contend %}
<!-- Heading -->
<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img
        class="intro-img img-fluid mb-3 mb-lg-0 rounded"
        src="{% static '/img/principal.jpg' %}"
        alt=""
      />
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">Dr. Walfredo Gonz&aacute;lez Hern&aacute;ndez</span>
          <span class="section-heading-lower">Proyecto:</span>
        </h2>
        <p class="mb-3">
          Medici&oacute;n de el aprendizaje creativo de la inform&aacute;tica durante la formaci&oacute;n de profesionales inform&aacute;ticos.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Message -->
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Tema:</span>
            <span class="section-heading-lower">Creatividad y Aprendizaje Creativo</span>
          </h2>
          <p class="mb-0">
            La creatividad es una de las temáticas más estudiadas por diferentes 
            disciplinas científicas y varios estudios la consideran como un fenómeno multidimensional. 
            El desarrollo de la creatividad en el ser humano está íntimamente relacionado con el aprendi-zaje creativo y muchos autores consideran este tipo de aprendizaje como la base de la creatividad.
            Por tanto, para desarrollar la creatividad en un individuo es importante desarrollar el aprendizaje creativo. La didáctica, como ciencia que estudia los procesos de formación en las escuelas, 
            debe preocu-parse por el desarrollo de la creatividad.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}