{% extends "./pollbase.html" %}

{% block tittle %} Crear Pregunta {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6 col-lg-6 col-xl-6 col-sm-6">
         <h2>Crear Pregunta</h2> 
         <div class="card">
           <div class="card-body">
            <form method="POST">{% csrf_token %}
                {{ form.as_p }}
            <input type="submit" class="btn btn-success" value="Guardar">
            <a class="btn btn-dark" href="/poll/create/poll/">No, Gracias</a>
            </form>
           </div>   
         </div>        
    </div>
{% endblock  %}