{% extends "./pollbase.html" %}
{% load static %}
{% block title %} Listar Preguntas {% endblock %}

{% block body %}
<div class="row">
    
    <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12">
           <h1>
            Listado de Preguntas
           </h1> 
           <div class="table-responsive py-4">
            <table class="table table-striped">
               <thead>
                   <tr>
                    <th>#</th>
                    <th>Titulo</th>
                    <th>Texto de la pregunta</th>
                    <th>Fecha de publicaci&oacute;n</th>
                    <th>Tipo</th>
                    <th>Criterio de Medida</th>
                    <th colspan="2">Opciones</th>
                   </tr>
               </thead>   
                <tbody>
                    {% if object_list %}
                    {% for c in object_list %}
                    <tr>
                       <td>{{c.id}}</td>
                       <td>{{c.tittle}}</td>
                       <td>{{c.question_text}}</td>
                       <td>{{c.pub_date}}</td>
                       <td>{{c.type}}</td>
                       <td>{{c.measurement_criterion}}</td>
                       <td><a href="update/question/{{c.pk}}"class="btn btn-info" >Editar</a></td>
                       <td><a href="delete/question/{{c.pk}}"class="btn btn-danger">Eliminar</a></td>
                    </tr>
                   {% endfor %}
                   {% else %}
                   <h1>No hay Preguntas.</h1>
                    {% endif %}
                </tbody>
            </table>
           </div>      
    </div>
</div>
<div class="col-md-12 col-lg-12 col-xl-12 col-sm-12">
    <a href="/poll/create/question/" class="btn btn-success">Crear Nueva Pregunta</a>
    <a class="btn btn-dark" href="/poll/create/poll/">Regresar</a>
</div>
{% endblock %}