{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html lang=es>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Criterio de Medida</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      </head>
    <body >
        <nav class="navbar navbar-expand-lg bg-info">
            <div class="container-fluid">
              <a class="navbar-brand text-dark" href="#">Metrica</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active text-dark" aria-current="page" href="dimensions/">Gestion de Variables</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active text-dark" aria-current="page" href="dimensions/">Gestion de Dimenciones</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active text-dark" href="indicators/">Gestion de Indicadores</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active text-dark" href="measurementcriterions/">Gestion de Criteros de Medidas</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <div class="container py-5">
            {% block body %}
        
        {% endblock  %}
          </div>
      <script src="" async defer></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>  
    </body>
</html>