{% extends "metricsbase.html" %}
{% load static %}
{% block title %} Eliminar Variable {% endblock %}
        {% block body %}
          <div class="container py-5">
            <form method="post"> {% csrf_token %}
                <h1>Esta seguro que desea eliminar la Variable ( {{object.description}})</h1>
                <button class="btn btn-danger" type="submit">Eliminar</button>
                <a href="{% url 'listar_variable' %}" class="btn btn-success">Cancelar</a>
            </form>
          </div>
          {% endblock %}