{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html lang=es>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Criterio de Medida</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    </head>
    <body stylesheet="bg-$blue">
          <div class="container py-5">
            <div class="row">
    
                <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12">
                       <h1>
                        Listado de criterios de medidas
                       </h1> 
                       <div class="table-responsive py-4">
                        <table class="table table-striped">
                           <thead>
                               <tr>
                                <th>#</th>
                                <th>Descripcion</th>
                                <th>Valor</th>
                                <th>Indicador</th>
                                <th colspan="2">Opciones</th>
                               </tr>
                           </thead>   
                            <tbody>
                                {% if object_list %}
                                {% for c in object_list %}
                                <tr>
                                   <td>{{c.pk}}</td>
                                   <td>{{c.description}}</td>
                                   <td>{{c.value}}</td>
                                   <td>{{c.indicator.description}}</td>
                                   <td><a href="update/{{c.pk}}"class="btn btn-info" >Editar</a></td>
                                   <td><a href="delete/{{c.pk}}"class="btn btn-danger">Eliminar</a></td>
                                </tr>
                               {% endfor %}
                               {% else %}
                               <h1>No hay criterios de medida.</h1>
                                {% endif %}
                            </tbody>
                        </table>
                       </div>      
                </div>
            </div>
            <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12">
                <a href="created/"class="btn btn-success text-dark">Crear Nuevo Criterio</a>
                <a href="/metrics/scales/"class="btn btn-primary text-dark">Escala a utilizar</a>
                <a href="/metrics/indicators/"class="btn btn-info text-dark">Anterior</a>
            </div>
          </div>
        <script src="" async defer></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>