{% extends "./base.html" %}
{% block body %}
<div class="row">
    
    <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12">
           <h1>
            Listado de Escalas.
           </h1> 
           <div class="table-responsive py-4">
            <table class="table table-striped">
               <thead>
                   <tr>
                    <th>Descripcion</th>
                    <th>Nombre</th>
                    <th>Valor M&aacute;ximo</th>
                    <th>Valor M&iacute;nimo</th>
                    <th>Intervalo</th>
                    <th colspan="2">Opciones</th> 
                   </tr>
               </thead>   
                <tbody>
                    {% if object_list %}
                    {% for c in object_list %}
                    <tr>
                       <td>{{c.description}}</td>
                       <td>{{c.name}}</td>
                       <td>{{c.max_value}}</td>
                       <td>{{c.min_value}}</td>
                       <td>{{c.interval}}</td>
                       <td><a href="updatescale/{{c.pk}}"class="btn btn-info" >Editar</a></td>
                       <td><a href="deletescale/{{c.pk}}"class="btn btn-danger">Eliminar</a></td>
                    </tr>
                   {% endfor %}
                   {% else %}
                   <h1>No hay Scalas.</h1>
                    {% endif %}
                </tbody>
            </table>
           </div>      
    </div>
</div>
<div class="col-md-12 col-lg-12 col-xl-12 col-sm-12">
    <a href="createdscale/"class="btn btn-success">Crear Nueva Escala</a>
</div>
{% endblock %}