{% extends "./base.html" %}
{% block body %}
<div class="row">
    
    <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12">
           <h1>
            Listado de Indicadores.
           </h1> 
           <div class="table-responsive py-4">
            <table class="table table-striped">
               <thead>
                   <tr>
                    <th>Descripcion</th>
                    <th>Peso</th>
                    <th colspan="2">Opciones</th>
                   </tr>
               </thead>   
                <tbody>
                    {% if object_list %}
                    {% for c in object_list %}
                    <tr>
                       <td>{{c.description}}</td>
                       <td>{{c.weigh}}</td>
                       <td>{{c.indicator}}</td>
                       <td><a href="updateIndicator/{{c.pk}}"class="btn btn-info" >Editar</a></td>
                       <td><a href="deleteIndicator/{{c.pk}}"class="btn btn-danger">Eliminar</a></td>
                    </tr>
                   {% endfor %}
                   {% else %}
                   <h1>No hay Indicadores.</h1>
                    {% endif %}
                </tbody>
            </table>
           </div>      
    </div>
</div>
<div class="col-md-12 col-lg-12 col-xl-12 col-sm-12">
    <a href="createdIndicator/"class="btn btn-success">Crear Nuevo Criterio</a>
</div>
{% endblock %}