{% extends "metricsbase.html" %}
{% load static %}
{% block title %} Listado Escalas. {% endblock %}
        {% block body %}
          <div class="container py-5">
            <div class="row">
    
                <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12">
                       <h1>
                        Listado de Escalas.
                       </h1> 
                       <div class="table-responsive py-4">
                        <table class="table table-striped">
                           <thead>
                               <tr>
                                <th>Descripcion</th>
                                <th>Nombre</th>
                                <th>Valor M&aacute;ximo</th>
                                <th>Valor M&iacute;nimo</th>
                                <th>Intervalo</th>
                                <th colspan="2">Opciones</th> 
                               </tr>
                           </thead>   
                            <tbody>
                                {% if object_list %}
                                {% for c in object_list %}
                                <tr>
                                   <td>{{c.description}}</td>
                                   <td>{{c.name}}</td>
                                   <td>{{c.max_value}}</td>
                                   <td>{{c.min_value}}</td>
                                   <td>{{c.interval}}</td>
                                   <td><a href="update/{{c.pk}}"class="btn btn-info" >Editar</a></td>
                                   <td><a href="delete/{{c.pk}}"class="btn btn-danger">Eliminar</a></td>
                                </tr>
                               {% endfor %}
                               {% else %}
                               <h1>No hay Scalas.</h1>
                                {% endif %}
                            </tbody>
                        </table>
                       </div>      
                </div>
            </div>
            <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12">
                <a href="create/"class="btn btn-success text-dark">Crear Nueva Escala</a>
                <a href="/metrics/measurementcriterions/"class="btn btn-primary text-dark">Anterior</a>
                <a href="/"class="btn btn-info text-dark">Pagina Principal</a>
            </div>
          </div>
          {% endblock %}