{% extends "metricsbase.html" %}
{% load static %}
{% block title %} Listado Indicadores. {% endblock %}
        {% block body %}
          <div class="container py-5">
            <div class="row">
    
                <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12">
                       <h1>
                        Listado de Indicadores.
                       </h1> 
                       <div class="table-responsive py-4">
                        <table class="table table-striped">
                           <thead>
                               <tr>
                                <th>#</th>
                                <th>Descripcion</th>
                                <th>Peso</th>
                                <th>Dimensiones a las que perstenece</th>
                                <th colspan="2">Opciones</th>
                               </tr>
                           </thead>   
                            <tbody>
                                {% if object_list %}
                                {% for c in object_list %}
                                <tr>
                                   <td>{{c.pk}}</td>
                                   <td>{{c.description}}</td>
                                   <td>{{c.weigh}}</td>
                                   <td>
                                    <ul>
                                        {%for dimension in c.dimensions.all %}
                                            <li>
                                              {{dimension.description}}
                                            </li>
                                      
                                        {%endfor%}
                                      </ul>
                                   </td>
                                   <td><a href="update/{{c.pk}}"class="btn btn-info" >Editar</a></td>
                                   <td><a href="delete/{{c.pk}}"class="btn btn-danger">Eliminar</a></td>
                                </tr>
                               {% endfor %}
                               {% else %}
                               <h1>No hay Indicadores.</h1>
                                {% endif %}
                            </tbody>
                        </table>
                       </div>      
                </div>
            </div>
            <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12">
                <a href="created/"class="btn btn-success text-dark">Crear Nuevo Indicador</a>
                <a href="measurementcriterions/"class="btn btn-primary text-dark">Criterios de medidas</a>
                <a href="/metrics/dimensions/"class="btn btn-info text-dark">Anterior</a>
            </div>
          </div>
          {% endblock %}