{% extends "metricsbase.html" %}
{% load static %}
    {% block title %} Editar Variable {% endblock %}
          {% block body %}
          <div class="container py-5">
            <div class="row">
              <div class="col-md-6 col-lg-6 col-xl-6 col-sm-6">
                   <h2>Edite la Variable</h2> 
                   <div class="card">
                     <div class="card-body">
                      <form method="post">{% csrf_token %}
                          {{ form.as_p }}
                      <input type="submit" class="btn btn-success" value="Guardar">
                      <a class="btn btn-dark" href="{% url 'listar_variable' %}">No, Gracias</a>
                      </form>
                     </div> 
                   </div>   
              </div>
          </div>
          </div>
          {% endblock  %}